---
---
<div class="title-container">
  <span class="red-text">This is Cloudcache Shopapp </span>
  <span class="black-text">Preview</span>
</div>

<style>
  .title-container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    font-size: 30px;
  }
  .red-text {
    color: red;
  }
  .black-text {
    color: black;
  }
</style>
